.container{
    display: flex;
    grid-gap: 20px;
}
.input{
    width: 400px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset -5px -5px 5px #fff7,inset 5px 5px 5px #0002;
    padding-left: 10px;
    background-color: transparent;
}

.btn{
    box-shadow:  -5px -5px 5px #fff7, 5px 5px 5px #0002;
    width: 120px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.btn:active{
    box-shadow: inset -5px -5px 5px #fff7,inset 5px 5px 5px #0002;
}
.select{
    background-color: #e5e5e5;
    text-transform: capitalize;
    outline: none;
    border: none;
    box-shadow:  -5px -5px 5px #fff7, 5px 5px 5px #0002;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}
@media (max-width: 768px) {
    .container{
        width: 100%;
    }
    .input{
        width: 100%;
        margin-left: 10px;
    }
    .select{
        width: 120px;
        margin-right: 10px;
    }
}